__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.env
.env.*
!.env.example

*.log
*.pot
*.pyc

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

.target/
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints
